:root {
	--light: #ebebf0;
	--dark: #6c6c82;
	--primary: #3e7bfa;
	--primaryDark: #3e7bfa;
	--bodyColor: #1c1c28;
	--bodyColorLight: #28293d;
	--borderFormEls: hsl(0, 0%, 10%);
	--secondary: #a9eff2;
	--danger: #ff8080;
	--success: #57eba1;
	--warning: #fded72;
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: var(--bodyColor);
	color: var(--light);
	font-family: 'montserrat', san-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	height: 20em;
	align-items: center;
}

.main {
	flex: auto;
}

.footer {
	position: fixed;
	max-height: 120px;
	left: 0;
	bottom: 0;
	width: 100%;
	color: var(--light);
	text-align: center;
	flex-shrink: 0;
}

ul {
	padding: 1.25rem;
	text-align: center;
}
ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0.25rem 0.75rem;
}
ul a {
	color: #fff;
	text-decoration: none;
}
ul a:hover {
	text-decoration: underline;
}

.container {
	width: 100%;
	height: 100%;
	padding: 5%;
}

.form {
	height: 10em;
	width: 80em;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
}

.input {
	height: 2em;
	background-color: var(--bgFormEls);
	border-bottom: 2px solid var(--light);
	color: var(--light);
	font-size: 1.5em;

	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;

	flex-grow: 3;
}

.input:focus {
	background-color: var(--bgFormElsFocus);
	border: 3px var(--green);
	border-bottom: 2px solid var(--secondary);
}

.button {
	height: 2.75em;
	font-size: 1.25em;
	background: none;
	color: var(--light);
	border: 2px solid var(--primary);

	flex-grow: 1;
}

.button:hover {
	background-color: var(--primary);
}

.centered {
	text-align: center;
}

.title {
	text-align: center;
	padding-top: 5%;
}
.subtitle {
	padding-top: 5%;
}

h1 {
	font-size: 4.5em;
}
h2 {
	font-size: 2em;
}
p {
	font-size: 1.5em;
	color: var(--dark);
}

a {
	color: inherit;
}

#toast {
	min-width: 300px;
	margin-left: -150px;
	visibility: hidden;
	bottom: 30px;
	left: 50%;
	z-index: 1;
	text-align: center;
	font-size: 25px;
	position: absolute;
	padding: 1em;
	background-color: var(--bodyColorLight);
	color: var(--light);
	border-bottom: 3px solid var(--danger);
	border-top: 3px solid var(--danger);
	border-radius: 2px;
}

#toast.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}
